html,body{
    padding: 0;
    margin: 0;
    background-color:#121440;
    height: 100%;
}

.container{
    display: grid;
    place-content: center;
    width: 100%;
    height: 100%;
}

#bg{
    margin: 0;
    padding: 0;
    width: 100vw;
    height:  100%;
    position: absolute;
    filter: opacity(0.2); 
    object-fit: cover;

}

#title{
    z-index: 1;
    font-family: 'HELLODENVERDISPLAYREGULARRg';
    /* color: #ffffff; */
    color: #c09cc3;
    font-size: 100px;
    text-shadow: rgb(215, 0, 253) 0px 0px 19px;
    text-align: center;
    line-height: 6rem;
    transition: all 300ms ease;
}
#title:hover{
    cursor: pointer;
    transform: scale(1.05);
}